@import '../../styles/config';
@import '../../styles/hamburger';
@import '../../styles/shared-mixins';

.Guide-close-button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.Guide-close-button {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: all;
  background-color: $white-color;
}

.Guide-location-info {
  margin: 40px 0px 40px 0px;
  width: 100%;
  background-color: $white-color;

  @media (min-width: $breakpoint-desktop-or-laptop) {
    margin: 40px 0px 0px 0px;
  }
}

.Guide-location-info-contents {
  padding: 0px 40px 40px 40px;
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint-desktop-or-laptop) {
    flex-direction: row;
  }
}

.Guide-location-info-photo {
  width: 100%;
  object-fit: scale-down;

  @media (min-width: $breakpoint-desktop-or-laptop) {
    width: 55%;
  }
}

.Guide-location-info-photo-placeholder {
  width: 100%;
  background-color: $secondary-color;

  @media (min-width: $breakpoint-desktop-or-laptop) {
    width: 55%;
  }
}

.Guide-location-info-text-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-left: 0px;

  @media (min-width: $breakpoint-desktop-or-laptop) {
    padding-left: 40px;
  }
}

.Guide-location-info-title {
  @include normal-mono;
  text-align: right;
}

.Guide-location-info-description {
  @include normal;
  text-align: left;
  font-weight: 300;
  font-size: 16px;
}

.Guide-location-info-address {
  @include normal-mono;
  padding-top: 20px;
  font-size: 13px;
}
