.App-background {
  position: fixed;
  background: #000000;
  width: 100%;
  min-height: 1000px;
}

.App-flex-container {
  display: flex;
  justify-content: center;
}

.App-container {
  position: absolute;
  width: 60%;
  max-width: 864px;
  padding: 0px 40px;
  margin: 36px 0px;
  background: #ffffff;
}
