@import './styles/config';

.App-background {
  position: fixed;
  background: #000000;
  width: 100%;
  min-height: 1000px;
}

.App-flex-container {
  display: flex;
  justify-content: center;
}

.App-container {
  width: 100%;
  padding: 0px 40px;
  background: #ffffff;

  @media (min-device-width: $breakpoint-desktop-or-laptop) {
    margin: 36px 0px;
    position: absolute;
    width: 60%;
    max-width: 864px;
  }
}
