@import '../../../styles/config';
@import '../../../styles/shared-mixins';
@import '../../../styles/shared-elements';

.Editor-title {
  @include title;
  padding: 36px 0px;
}

.Editor-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Editor-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: $white-color;
}

.Editor-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  @include dotted-background;
}

.Editor-button-container {
  display: flex;
  padding: 36px 0px;
  justify-content: center;
}

.Editor-input {
  @include input-mixin;
}
