@import '../../styles/config';
@import '../../styles/shared-mixins';
@import '../../styles/button';

.Login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.Login-button {
  @include button;
}

.Login-password {
  @include input-mixin;
}
