@import '../../styles/config';
@import '../../styles/shared-mixins';

.Login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.Login-input {
  @include input-mixin;
  margin-bottom: 30px;
}
