@import '../../styles/config';
@import '../../styles/shared-mixins';

.Contact-title {
  @include title;
  padding-top: 61px;
}

.Contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Contact-info {
  @include normal;
  font-size: 15px;
  padding: 30px 24px;

  @media (min-width: $breakpoint-desktop-or-laptop) {
    font-size: 16px;
    padding: 30px 82px;
  }
}

.Contact-separator {
  margin: 22px;
  height: 1px;
  width: 100%;
  border-bottom: $thin-black-color 1px solid;
}

.Contact-link {
  @include normal-mono;
  font-weight: 600;
  color: $primary-color;
  padding-bottom: 28px;
  border-width: 1px;
  border-color: $white-color;
  border-style: solid;

  &:focus {
    border-color: $secondary-color;
    border-width: 1px;
    outline: none;
  }
}

.Contact-secret {
  @include button;
  color: $white-color;
  margin-bottom: 22px;
  border-width: 1px;
  border-color: $white-color;
  border-style: solid;

  &:focus {
    border-color: $secondary-color;
    border-width: 1px;
    outline: none;
  }
}
