@import '../../../styles/config';
@import '../../../styles/shared-mixins';
@import '../../../styles/button';

.SecretHome-dropdown-container {
  display: block;
  position: relative;
  width: 200px;
}

.SecretHome-dropdown {
  @include button;

  &:active {
    color: $primary-color;
    background-color: $secondary-color;
  }

  &.open {
    background-color: $secondary-color;
  }

  &:hover {
    background-color: $secondary-color-transparency;
  }
}

.SecretHome-dropdown-list {
  list-style: none inside none;
  left: 0;
  position: absolute;
  transition: all 0.5s ease;
  width: 100%;
  margin: 0 auto;
  padding-inline-start: 0px;
  background-color: $secondary-color;
}

.SecretHome-dropdown-item {
  margin: 10px auto;
  width: 100%;
}
