@import '../../../styles/config';
@import '../../../styles/shared-mixins';
@import '../../../styles/shared-elements';

.Editor-title {
  @include title;
}

.Editor-input-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.Editor-button-container {
  display: flex;
  padding: 36px 0px;
  justify-content: center;
  border-bottom: $thin-black-color 1px solid;
}
