@import '../../styles/config';
@import '../../styles/hamburger';
@import '../../styles/shared-mixins';

.Guide-info-button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.Guide-info-button {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: all;
  background-color: $white-color;
}

.Guide-info-location-list {
  overflow-y: scroll;
  margin: 0px 40px 0px 40px;
}

.Guide-info-location-list-item {
  @include button;
  align-items: center;
}

.Guide-info-location-list-item-label {
  @include normal-mono;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  padding-left: 10px;
  user-select: none;
}

.Guide-info-note {
  @include normal;
  padding-left: 40px;
  padding-right: 40px;
  margin-block-start: 0px;
}

.Guide-info-container,
.Guide-info-location-list-container {
  display: flex;
  flex-direction: column;
}

.Guide-info-container {
  position: relative;
  background-color: $white-color;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  opacity: 1;
  pointer-events: all;

  &.is-disabled {
    opacity: 0;
    pointer-events: none;
  }
}

.Guide-info-location-list-container {
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  float: right;
  padding-bottom: 40px;
}
