@import '../../../styles/config';
@import '../../../styles/shared-mixins';

.GE-button-container {
  display: flex;
  justify-content: center;
  padding: 36px 0px;
}

.GE-add-locations-button-container {
  padding-top: 36px;
}

.GE-location-item-input-container {
  padding-top: 24px;
}

.GE-coordinates-input-container {
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
}

.GE-input {
  @include input-mixin;
  width: 42%;
}
