@import '../../../../styles/config';
@import '../../../../styles/shared-mixins';

.Guide-pin-container {
  position: absolute;
  transform: translate(-50%, -100%);
}

.Guide-pin-icon-container {
  position: absolute;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 68%;
}

.Guide-pin-button {
  @include transition-ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 35px;
  background-color: $white-color;
  border-width: 0px;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  opacity: 0;

  &:active {
    opacity: 0.75;
  }
}
