@import '../../styles/config';
@import '../../styles/shared-mixins';
@import '../../styles/shared-elements';

.FUW-container {
  padding-top: 36px;
}

.FUW-selector-list-item {
  display: inline-block;
}

.FUW-folder-selector-list {
  display: flex;
  flex-direction: column-reverse;
}

.FUW-label {
  @include normal-mono;
  margin-left: 10px;
}

.FUW-file-input-container {
  padding-left: 3.5%;
}

.FUW-selector-item-container {
  display: flex;
  flex: 1;
  align-items: center;
  width: 100%;
  padding-top: 16px;
}

.FUW-file-list {
  list-style-type: square;
}

.FUW-file-list-item {
  padding-top: 16px;
}

.FUW-file-list-item-row {
  padding-top: 8px;
  display: flex;
  align-items: center;
}

.FUW-file-list-item-error {
  @include normal-mono;
  color: $red-color;
  font-size: 11px;
}

.FUW-file-list-item-name-label {
  @include normal-mono;
  white-space: pre;
  &.bold {
    font-weight: 700;
  }
}

.FUW-file-list-item-input {
  @include input-mixin;
  margin-left: auto;
}

.FUW-upload-button-container {
  display: flex;
  justify-content: center;
  padding: 36px 0px;
}
