@import './styles/config';

body * {
  -webkit-font-smoothing: subpixel-antialiased !important;
  text-rendering: optimizeLegibility !important;
}

.App-flex-container {
  display: flex;
  justify-content: center;
}

.App-container {
  width: 100%;
  background: #ffffff;
  position: absolute;

  @media (min-width: $breakpoint-desktop-or-laptop) {
    margin: 36px 0px;
    width: 60%;
    max-width: 864px;
    padding: 0px 40px;
  }
}
