@import './shared-mixins';

.App-button {
  @include button;
  border-width: 1px;
  border-color: $white-color;

  &:focus {
    border-color: $secondary-color;
    border-width: 1px;
    outline: none;
  }

  &:active {
    color: $white-color;
    background-color: $primary-color;
    border-color: $white-color;
  }

  &.inactive {
    color: $secondary-color;

    &:hover {
      background-color: $white-color;
    }
  }
}

.App-input {
  @include input-mixin;
}

.App-file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
